<div class="conf__video-section-wrapper">
  <div class="preload" *ngIf="isLoading"><div class="spinner"></div></div>
  <section class="conf__video-section" id="js__workbench" #videoSection>
    <app-local-video *ngIf="isLocalVideoShow"></app-local-video>
    <app-endpoint-video
      *ngFor="let e of videoEndpoints"
      [id]="e.id"
      [name]="e.displayName"
      [place]="e.place"
    ></app-endpoint-video>
    <div
      class="conf_vc conf__info-form-wrap js__invite-form"
      *ngIf="showInviteForm || showPopupInvite"
      [ngClass]="{ 'popup-view': showPopupInvite }"
    >
      <div class="setup-close" (click)="showPopupInvite = false">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M1.7951 0.307991C1.38445 -0.102664 0.718646 -0.102664 0.307991 0.307991C-0.102664 0.718646 -0.102664 1.38445 0.307991 1.7951L5.51289 7L0.307991 12.2049C-0.102664 12.6156 -0.102664 13.2814 0.307991 13.692C0.718646 14.1027 1.38445 14.1027 1.7951 13.692L7 8.48711L12.2049 13.692C12.6156 14.1027 13.2814 14.1027 13.692 13.692C14.1027 13.2814 14.1027 12.6156 13.692 12.2049L8.48711 7L13.692 1.7951C14.1027 1.38445 14.1027 0.718646 13.692 0.307991C13.2814 -0.102664 12.6156 -0.102664 12.2049 0.307991L7 5.51289L1.7951 0.307991Z"
            fill="#9FA6B3"
          />
        </svg>
      </div>
      <form action="" [formGroup]="inviteForm">
        <h4 class="conf__info-title">Invite someone to start meeting</h4>
        <div class="conf__form-row conf__info-form-row">
          <label for="roomId"></label>

          <input
            type="text"
            class="js__ivite-link"
            id="roomId"
            formControlName="roomId"
            #inputElement
            placeholder="https://conferencedomain.com/room_"
          />
        </div>
        <div class="conf__form-btn conf__info-form-btn">
          <button class="button js__copy-link" type="button" (click)="copy(inputElement)">
            <span>COPY</span>
            <div class="spinner"></div>
          </button>
        </div>
        <h4 class="conf__info-title conf__info-title-call">Or Call to</h4>

        <div class="conf__form-number-wrap">
          <div class="conf__form-number">+442039369210</div>
          <div class="conf__form-number">PIN 59428777</div>
        </div>
      </form>
    </div>
  </section>

  <div class="conf__info-footer">
    <div class="conf__info-icon_logo conf__info-footer--nofs">
      <svg width="28" height="31" viewBox="0 0 28 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M27.6164 16.1417C28.1279 15.8565 28.1279 15.1435 27.6164 14.8583L1.15068 0.100369C0.639267 -0.184809 0 0.171664 0 0.742021V30.258C0 30.8283 0.639271 31.1848 1.15069 30.8996L27.6164 16.1417Z"
          fill="#662EFF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.4074 6.34136C17.2112 6.22933 17.2112 5.94924 17.4074 5.83721L27.5586 0.0394307C27.7548 -0.0726037 28 0.0674396 28 0.291508V11.8871C28 12.1111 27.7548 12.2512 27.5586 12.1391L17.4074 6.34136Z"
          fill="#662EFF"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.4074 25.1628C17.2112 25.0508 17.2112 24.7707 17.4074 24.6586L27.5586 18.8609C27.7548 18.7488 28 18.8889 28 19.1129V30.7085C28 30.9326 27.7548 31.0726 27.5586 30.9606L17.4074 25.1628Z"
          fill="#662EFF"
        />
      </svg>
    </div>
    <div class="conf__info-footer-spacer"></div>

    <div class="conf__info-footer-icon-wrap">
      <div
        class="conf__info-footer-icon conf__info-footer-icon-cam js__cam"
        [ngClass]="{ 'option--off': isCameraMuted }"
        (click)="toggleCam()"
      ></div>
    </div>
    <div class="conf__info-footer-icon-wrap">
      <div
        class="conf__info-footer-icon conf__info-footer-icon-micro js__mic"
        [ngClass]="{ 'option--off': isMicMuted }"
        (click)="toggleMic()"
      ></div>
    </div>
    <div class="conf__info-footer-icon-wrap conf__info-footer--nofs">
      <div
        class="conf__info-footer-icon conf__info-footer-icon-share js__share"
        [class.option--off]="isSharing"
        (click)="toggleSharing()"
      ></div>
    </div>
    <div class="conf__info-footer-icon-wrap conf__info-footer--nofs">
      <div class="conf__info-footer-icon conf__info-footer-icon-users js__chat" (click)="onToggleSidePanel()"></div>
    </div>
    <div class="conf__info-footer-icon-wrap conf__info-footer--nofs">
      <div class="conf__info-footer-icon conf__info-footer-icon-leave js__leave" (click)="leaveRoom()"></div>
    </div>
    <div class="conf__info-footer-spacer"></div>
    <div class="conf__info-footer-icon-wrap conf__info-footer--nofs">
      <div
        class="conf__info-footer-icon conf__info-icon_add-user add-user-setup-open"
        (click)="openInvitePopup()"
      ></div>
    </div>
    <div class="conf__info-footer-icon-wrap conf__info-footer--nofs">
      <div
        class="conf__info-footer-icon conf__info-icon_settings settings-setup-open"
        (click)="toggleShowSetting()"
      ></div>
    </div>
  </div>
</div>
