.conf__sidebar.sidebar--close {
  display: none;
}

.conf__sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background: #ffffff;
  z-index: 140;
}

.conf__sidebar-header {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 8px;
  height: 56px;
  border-bottom: 1px solid #d8dce6;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.conf__sidebar-title {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.conf__sidebar-toggles {
  display: flex;
  justify-content: center;
  width: 290px;

}

.conf__sidebar-container{
  height: calc(100vh - 115px)
}


.conf__sidebar-people .conf__sidebar-body-chat,
.conf__sidebar-chat .conf__sidebar-body-people{
  display: none;
}

.conf__sidebar-people .conf__sidebar-body-people,
.conf__sidebar-chat .conf__sidebar-body-chat{
  display: block;
  height: 100%;
}

.conf__sidebar-body-chat .conf__sidebar-body{
  display: flex;
  flex-direction: column;
}

.conf__sidebar-chat-message-list{

  width: 100%;
  height: 100%;
  border: #ff005c;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.conf__sidebar-chat-message-list .chat_message{
  width: 100%;
}

.conf__sidebar-chat-message-list .chat_message_container{
  width: 280px;
  margin: 12px;
}
.conf__sidebar-chat-message-list .chat_message_mine {
  display: flex;
  justify-content: flex-end;
}
.conf__sidebar-chat-message-list .chat_message_other {
  display: flex;
  justify-content: flex-start;
}

.conf__sidebar-chat-message-list .chat_message_info {
  display: flex;
  width: 100%;
}

.conf__sidebar-chat-message-list .chat_message_mine  .chat_message_info {
  justify-content: flex-end;
}

.conf__sidebar-chat-message-list .chat_message_other  .chat_message_info {
  justify-content: flex-start;
}

.conf__sidebar-chat-message-list .message_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: right;
}
.conf__sidebar-chat-message-list .message_time {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #9BA9BB;
  min-width: 50px;
  text-align: right;
}
.conf__sidebar-chat-message-list .message_text {

  width: 100%;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  overflow-wrap: break-word;

}
.conf__sidebar-chat-message-list .message_info {
  font-size: 7px;
  color: #d8dce6;
}

.conf__sidebar-chat-message-list .chat_message_mine .message_text {
  background: linear-gradient(96.03deg, #662EFF 0%, #662EFF 100%);
  color: #FFFFFF;
}

.conf__sidebar-chat-message-list .chat_message_mine a{
  color: #f5f5f5;
}

.conf__sidebar-chat-message-list .chat_message_other .message_text {
  background: #F0F4FA;
  color: #000000;
}

.conf__sidebar-chat-message-list .chat_message_other a{
  color: #0c0c0c;
}



.conf__sidebar-chat-message-input-container{
  height: 40px;
  width: 350px;

  position: fixed;
  bottom: 5px;
  display: flex;
  border-top: solid 1px black;
  justify-content: space-between;
}
.conf__sidebar-chat-message-sendButton{
  width: 60px;
  height: 40px;
}
input.conf__sidebar-chat-message-input {
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 280px;
  margin-left: 8px;
}

.conf__sidebar-icon {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.conf__sidebar-icon--close {
  background: url(../img/icons/cross_14px.svg) center no-repeat #ffffff;
}
.conf__sidebar-icon--close:hover {
  background-color: #f0edff;
}

.conf__sidebar-body {
  height: 100%;
}

.conf__sidebar-participants-list {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
