@use "../base_form_component";
.conf__leave {
  position: absolute;

  justify-content: space-between;
  flex-direction: column;
  padding: 24px 16px;
  border-radius: 4px;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #000;
}
.conf__leave .conf__form-row {
  margin-bottom: 8px;
  margin-top: 0;
}
.conf__leave-info h2 {
  font-size: 26px;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 16px;
}
.conf__leave-info p {
  font-size: 15px;
  line-height: 19px;
}
.conf__leave-form form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
.conf__leave-form .conf__form-row input {
  padding: 2px 12px;
}
.conf__leave-form .conf__form-submit {
  margin-top: 20px;
  width: 100%;
}
.conf__leave-form button {
  width: 100%;
}
.privacy-policy {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding-top: 8px;
}
@media (min-width: 500px) {
  .conf__leave {
    padding: 32px 24px;
    max-width: 500px;
  }
  .conf__leave-info h2 {
    font-size: 36px;
  }
  .conf__leave-info p {
    font-size: 20px;
    line-height: 24px;
  }
  .conf__leave-form form {
    margin: 24px 0 0;
  }
  .conf__leave-form .conf__form-submit {
    margin-top: 16px;
  }
  .conf__leave-form .conf__form-row input {
    padding: 8px 12px;
  }
}
@media (min-width: 768px) {
  .conf__leave {
    padding: 60px 40px;
  }
}
@media (min-width: 992px) {
  .conf__leave {
    padding: 80px 50px;
    max-width: 1200px;
    flex-direction: row;
    width: 90%;
  }
  .conf__leave-info {
    width: 46%;
  }
  .conf__leave-form {
    width: 46%;
  }
  .conf__leave-form form {
    margin: 0;
  }
  .conf__leave-info p {
    font-size: 24px;
    line-height: 31px;
  }
}

.conf__leave-tnh {
  margin-top: 40px;
}
.conf__leave-tnh h2 {
  margin-bottom: 16px;
}
.conf__leave-tnh p {
  font-size: 15px;
  line-height: 19px;
}
@media (min-width: 500px) {
  .conf__leave-tnh p {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .conf__leave-tnh {
    margin-top: 0px;
  }
  .conf__leave-tnh p {
    font-size: 24px;
    line-height: 31px;
  }
  .conf__leave-tnh {
    width: 46%;
  }
}
