.conf__form {
  max-width: 366px;
  width: 100%;
  padding: 0 12px;
}

.conf__form-icon {
  display: flex;
  justify-content: center;
}

.conf__form-wrap {
  max-width: 352px;
  width: 100%;
  padding: 24px;
  margin-top: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #eaedf3;

  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}

.conf__form-row {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.conf__form-row input.ng-touched.ng-invalid {
  border: solid red 1px;
  background: #f8dede;
}
.conf__form-row input.ng-touched.ng-valid {
  border: solid green 1px;
}

.conf__form-row:first-of-type {
  margin-top: 0;
}

.conf__form-row label {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 8px;
}

.conf__form-row input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #d8dce6;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.conf__form-btn {
  margin-top: 24px;
}

.conf__form-btn .button {
  height: 40px;
  width: 100%;
  &.disabled {
    opacity: 50%;
  }
}
.conf__form-btn .button[disabled] {
}

.conf__form-title {
  text-align: center;
}

.conf__form-title span {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.conf__form-select {
  width: 304px;
  position: relative;
  cursor: pointer;
}

.conf__form-select select {
  /*display: none;*/
}

.select-selected {
  background-color: #ffffff;
}

.select-selected:after {
  position: absolute;
  content: url(/assets/images/icons/select_arrow_24px_opened.svg);
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
}

.select-selected.select-arrow-active:after {
  content: url(/assets/images/icons/select_arrow_24px_closed.svg);
}

.select-items div,
.select-selected {
  width: 100%;
  padding: 9px 12px;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px;
  border: 1px solid #d8dce6;

  position: relative;
}

.select-items div.same-as-selected {
  color: #662eff;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 37px;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 4px;
  box-shadow: 0px 6px 16px rgba(51, 55, 60, 0.08);
  border: 1px solid #d8dce6;
}

.select-items div {
  border: none;
  height: 30px;
}

.select-items div:hover {
  transition: background-color 0.2s ease;
  background-color: #f3f4f8;
}

.select-hide {
  display: none;
}

.conf__form-row option:checked {
  color: #662eff;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.same-as-selected {
  color: #662eff;
}
