.conf__sidebar-icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.conf__sidebar-icon--close {
  background: url(/assets/images/icons/cross_14px.svg) center no-repeat #ffffff;
}
.conf__sidebar-icon--close:hover {
  background-color: #f0edff;
}
