.conf__video {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  //padding: 4px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.64);
  border: black 1px solid;
}
.conf__video video {
  width: 100%;
  height: 100%;
  position: absolute;
}
.conf__video .placeholder {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(14, 6, 26, 0.3);
}

.conf__video .placeholder:before {
  content: "";
  display: block;
  padding-top: 56.25%;
  height: 0 !important;
}

.conf__video .spinner {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/assets/images/icons/spiner.svg");
  animation: 1s linear 0s normal none infinite running rot;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  z-index: -1;
}

.conf__video-wrap {
  position: absolute;
  z-index: 10;
  display: flex;
  top: 8px;
  left: 8px;
  right: 8px;
}
.conf__video-fullscreen {
  position: absolute;
  right: 0px;
  background: rgba(34, 16, 64, 0.6);
  color: #ffffff;
  padding: 4px 0px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.conf__video-name {
  padding: 4px 8px;
  background: rgba(34, 16, 64, 0.6);
  color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
}

.conf__video-micro {
  width: 24px;
  height: 24px;
  background: #ff005c;
  border-radius: 4px;
  margin-left: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.conf__info-header {
  display: flex;
}

.conf__info-footer {
  display: flex;
}

.hidden {
  display: none;
}

.userName {
  border-radius: 100%;
  width: 48px;
  position: absolute;

  height: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  color: #000;
  background: #fff;
  border: 2px solid #662eff;
}
