@use "../base_form_component";

.conf .conf__settings--popup {
  display: block !important;
  position: absolute;
  z-index: 1500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.conf__settings--popup .conf__form-wrap {
  margin-top: 0;
}
.conf__settings--popup .conf__settings-setup-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  cursor: pointer;
}
.conf__settings--popup .conf__settings-icon {
  display: none;
}

.conf__settings-icon {
  display: flex;
  justify-content: center;
}

.conf__form-video {
  position: relative;
  margin: 16px 0;
  width: 302px;
  height: 170px;
  border-radius: 4px;
  video {
    background: #000;
    overflow: hidden;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
  }
}
.conf__form-settings {
  z-index: 999;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 12px;
  left: calc(50% - 44px);
}

.conf__form-settings-icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  align-self: center;

  justify-content: center;
  opacity: 0.5;
  border-radius: 2px;
  cursor: pointer;

  transition: background-color 0.3s ease;

  background: #221040;
}

.conf__form-settings-icon:hover {
  background-color: #453166;
}

.conf__form-settings-icon--camera {
  background: url(../../assets/images/icons/camera_24px_on.svg) center no-repeat #221040;
}

.conf__form-settings-icon--camera.option--off {
  background: url(../../assets/images/icons/camera_24px_off.svg) center no-repeat #ff0641;
  opacity: 1;
}

.conf__form-settings-icon--micro {
  background: url(../../assets/images/icons/micro_24px_on.svg) center no-repeat #221040;
}

.conf__form-settings-icon--micro.option--off {
  background: url(../../assets/images/icons/micro_24px_off.svg) center no-repeat #ff0641;
  opacity: 1;
}

.customselect ul {
  position: absolute;
  margin: 0;
  padding: 0;
  display: none;
  top: 37px;
  z-index: 1000;
  background: white;
  box-sizing: border-box;
  border: 1px solid #d8dce6;
  box-shadow: 0px 6px 16px rgba(51, 55, 60, 0.08);
  border-radius: 4px;
  list-style: none;
  width: 100%;
}
.customselect.open ul {
  display: block;
}
.customselect.open .select {
  background: transparent url(../../assets/images/icons/select_arrow_24px_opened.svg) no-repeat right 3px top
    calc(50% - 1px);
}
.customselect {
  width: 100%;
  height: 32px;
  position: relative;
}
.customselect .select {
  position: relative;
  z-index: 2;
  height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 9px 24px 12px 12px;
  border: 1px solid #d8dce6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  transition: 0.2s;
  background: transparent url(../../assets/images/icons/select_arrow_24px_closed.svg) no-repeat right 3px top
    calc(50% - 1px);
}
.customselect li {
  padding: 12px 9px;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  color: #000;
}
.customselect li:hover {
  background-color: #f3f4f8;
}

.customselect li.selected {
  color: #662eff;
}

.conf__form-settings-icon:last-of-type {
  margin-left: 8px;
}

.conf__settings .conf__form-row,
.conf__settings .conf__form-btn {
  margin-top: 16px;
}

.conf__settings .conf__form-row:first-of-type {
  margin-top: 0;
}

.mic__level {
  position: absolute;
  width: 100%;
  height: 31px;
  border-radius: 4px;
  top: 0;
  overflow: hidden;
}
.mic__level-value {
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  background: #00dc7d;
}

@media (max-width: 375px) {
  .conf__form-wrap {
    width: 100%;
  }
  .conf__form-row input {
    width: 100%;
  }
  .conf__form-video,
  .conf__form-video video,
  .conf__form-select {
    width: 100%;
  }
}
