.conf__sidebar-participants-list {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.conf__sidebar-participant-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  margin: 16px;
}
.conf__sidebar-participant-item .conf__sidebar-participant-title {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  /* Gray / 900 */

  color: #000000;
}
.conf__sidebar-participant-item .conf__sidebar-participant-states {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.conf__sidebar-participant-spacer {
  order: 0;
  flex: 1 0 auto;
  align-self: auto;
}
