@use "../cross-icon";
.conf__sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background: #ffffff;
  z-index: 140;
}

.conf__sidebar-header {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 28px;
  padding-right: 8px;
  height: 56px;
  border-bottom: 1px solid #d8dce6;

  display: flex;

  flex-wrap: nowrap;
  justify-content: space-between;

  align-items: center;
}

.conf__sidebar-title {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.conf__sidebar-toggles {
  display: flex;
  justify-content: center;
  width: 290px;
}

.conf__sidebar-container {
  height: calc(100vh - 115px);
}

.conf__sidebar-sub_header {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 16px 16px 0 16px;
}

.conf__sidebar-body {
  height: 100%;
}

button.button_toggle_left {
  border-radius: 4px 0px 0px 4px;
}
button.button_toggle_right {
  border-radius: 0px 4px 4px 0px;
}
button.button_toggle_active {
  background: #662eff;
  border: solid 1px #662eff;
}
button.button_toggle_inactive {
  background: #ffffff;
  border: solid 1px #662eff;
  color: #662eff;
}

//chat part
.conf__sidebar-body-chat {
  height: 100%;
}
.conf__sidebar-body-chat .conf__sidebar-body {
  display: flex;
  flex-direction: column;
}

.conf__sidebar-chat-message-input-container {
  height: 40px;
  width: 350px;

  position: fixed;
  bottom: 5px;
  display: flex;
  border-top: solid 1px black;
  justify-content: space-between;
}
.conf__sidebar-chat-message-sendButton {
  width: 60px;
  height: 40px;
}
input.conf__sidebar-chat-message-input {
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  width: 280px;
  margin-left: 8px;
}
